body {
  margin: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  box-sizing: border-box;
  background-color: #F0FFF0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 8px;
  border-radius: 20px;
  background-color: #FFFFFF;
}
#main-content {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 98%;
  height: 100%;
  border: 1px solid blueviolet;
}


/*----Sidebar Section---- */
#sidebar {
  width: 2%;
  background-color: transparent;
  color: rgb(54, 141, 212);
  padding: 10px;
  margin-left: 7px;
  margin-top: 7px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.butterfly{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  width: 40px;
  height: 50px;
  margin-left: -7px ;
;
}
.butterfly-img{
  width: 100%;
  height: 100%;
}
.butterfly a{
  margin-left: 8px;
  color: rgb(57, 57, 243);
  font-size: large;
}
.butterfly a:hover {
  background-color: rgb(42, 80, 252);
  color: snow;
}
#top-sidebar {
  background-color: transparent;
  margin-bottom: 80px;
}
.logo-column {
  display: flex;
  flex-direction: column;
}
.logo-column img{
  width: 10px;

}
#bottom-sidebar {
  background-color: transparent;
}
.logo-column i {
  border-radius: 3px;
  margin-bottom: 30px;
  cursor: pointer;
  height: 20px;
  font-size: 20px;
}
.logo-column i:hover {
  background-color: rgb(42, 80, 252);
  color: snow;
}


/* Box1 */
.box1{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
.column-item{
  height: 33%;
}
.first-container {
  display: flex;
  width: 93%;
  height: 100px;
  margin-left: 10px 
}
.profile-picture {
  margin-right: 10px;
}
.rounded-image {
  border-radius: 50%;
  width: 100px; 
  height: 100px; 
}
.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greeting-text {
  font-size: 20px; 
  font-size: x-large;
  font-weight: bold;
}
.greeting-container section {
  font-size: 12px; 
  font-weight: 600;
  padding-top: 5px;
  color: #777; 
}
/* ------------- */

.middle-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  margin-left: 16px
}
.balance{
  display: flex;
  flex-direction: column;
}
.sub-inner-column{
  display: flex;
  flex-direction: column;
  margin: 8px;
}
#top{
  font-size: x-large;
  font-weight: 700;
}
#top2{
  font-size: small;
}
#invest{
  font-weight: 700;
}
.bottom-div {
  height: 45px;
  padding-left: 5px;
}
#doSomthing{
  width: 35%;
  height: 39px;
  display: block;
  border-radius: 10px;
  background-color: rgb(58, 58, 204);
  color: #FFFFFF;
  text-align: center;
  padding-left: 8px;
}
/* --------------- */
.bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  margin-left: 16px
}
.history-container{
  margin-left: 7px;
}

/* --------Box2-------- */
.box2{
  width: 590px;
  height: 100%;
  background-color:transparent;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: #FFFFFF;
}
.retirement{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* justify-content: space-evenly; */
  /* border: 1px solid black; */
  /* background-color:rosybrown; */
}
#income{
  color: blue;
  font-size: small;
}
#incomeText{
  font-size: large;
  font-weight: 500;
}
.dollar{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#dollar{
  width: 140px;
}
.lineDiv{
  width: 100%;
  height: 3px;
  background-color: blue;
  margin-top: 10px;
}
#dollarlogo{
  font-weight: 700;
  font-size: larger;
}
#dollarText{
  font-size: small;
}
.overtime{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  /* background-color:orange; */
}
#employ{
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  height: 20%;
}
#Contribution{
  font-weight: 700;
  height: 100%;
}
#employData{
  display: flex;
  width: 100%;
  height: 100%;
}
#employDataInfo{
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
}
#employDot{
  width: 15px;
  height: 10px;
  margin-top: 2px;
  border-radius: 3px;
}
#employer{
  font-size: small;
  font-weight: lighter;
  color: #777;
}
#employerValue{
  font-size: small;
  font-weight:700;
}

#chartBar{
  width: 100%;
  height: 80%;
}
#chart{
  width: 100%;
}
.peers{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#peerText{
  width: 100%;
  height: 20%;
  margin-top: 15px;
}
#percentage{
  display: flex;
  gap: 20px;
  width: 100%;
  height: 80%;
  /* border: 1px solid red; */
}
#percentageText{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  /* height: 100%; */
}
.percentageInfo{
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
}
.details{
  font-size: 15px;
  font-weight: 500;
}
#under{
  border: none;
}

#perChart{
  width: 100%;
  display: flex;
}
.perChart{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.perChart > div {
  flex: 1;
}
.perChart div{
  margin-top: 5px;
}


/* ------Box3---- */
.box3{
  width: 25%;
  border: 1px solid red;
}

@media (min-width: 300px) and (max-width: 600px) {
  #container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #sidebar {
    width: 100vw;
    position: fixed;
    top: 0;
    height: 2%; 
   
  }
}
