body {
  margin: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  margin: 8px;
  border-radius: 20px;
  background-color: aqua;
}

#sidebar {
  width: 2%;
  height: 95%;
  background-color: rgb(243, 236, 236);
  color: rgb(54, 141, 212);
  padding: 10px;
  margin-left: 7px;
  margin-top: 7px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#top-sidebar {
  background-color: transparent;
}
.logo-column {
  display: flex;
  flex-direction: column;
}
#bottom-sidebar {
  background-color: transparent;
}
.logo-column i {
  border: 1px solid rgb(200, 200, 233);
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 30px;
  cursor: pointer;
  height: 20px;
  font-size: 15px;
  text-align: center;
}
.logo-column i:hover {
  background-color: rgb(42, 80, 252);
  color: snow;
}

#main-content {
  flex: 1;
  display: flex;
  
}

.content-box {
  background-color: #f0f0f0;
  margin:30px 20px;
}


/* Box1 */
.content-box.box1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box1{
  width: 300px;
  
}

.row-container {
  display: flex;
}

.profile-picture {
  margin-right: 10px; /* Adjust margin as needed */
}

.rounded-image {
  border-radius: 50%;
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
}

.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting-text {
  font-size: 18px; /* Adjust the font size as needed */
  font-weight: bold;
}

.welcome-text {
  font-size: 16px; /* Adjust the font size as needed */
  color: #777; /* Adjust the color as needed */
}

/* ------------- */

.column-item {
  /* Your existing styles for Div 2 */
}

.nested-container {
  display: flex;
  flex-direction: column;
}

.nested-column {
  /* Your styles for the nested columns inside Div 2 */
}

.nested-column {
  /* Your existing styles for Nested Div 1 */
}

.inner-nested-container {
  display: flex;
  flex-direction: column;
}

.inner-nested-column {
  /* Your styles for the inner nested columns inside Nested Div 1 */
}

.inner-nested-column h2 {
  /* Styles for the heading "Today" */
}

.bottom-div {
  display: flex;
  flex-direction: column;
}

#doSomthing{
  width: 30%;
  height: 40px;
  display: block;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-weight: 700;
  text-align: center;
  padding-left: 8px;
}

/* ------------------- */



@media (min-width: 300px) and (max-width: 600px) {
  #container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #sidebar {
    width: 100vw;
    position: fixed;
    top: 0;
    height: 2%; 
    order: 1; 
  }
}
